<main>
    {{#each event_group}}
        <div class="events">
            <a class="date" href="#{{this.[0].date_slug}}" id="{{this.[0].date_slug}}">{{this.[0].date}}</a>
            {{#each this}}
                <a {{#if this.url}} href="{{this.url}}"{{/if}}
                                    title="{{this.name}}"
                                    target="_blank" class="event {{this.location.slug}}">
                    {{this.name_html}}
                    {{#if this.image}}
                        <picture class="event-img">
                            <source srcset="{{this.image.public_avif_url}}" type="image/avif">
                            <img src="{{this.image.public_jpg_url}}" alt="{{this.name}}"
                                 width="{{this.image.width}}" height="{{this.image.height}}"
                                 {{#if @../index }}loading="lazy"{{/if}} />
                        </picture>
                    {{/if}}
                </a>
            {{/each}}
        </div>
    {{/each}}
</main>