<main>
    {{#each event_group}}
        <div class="events">
            <a class="date" href="#{{lookup ../date_slugs @key}}" id="{{lookup ../date_slugs @key}}">{{lookup ../dates @key}}</a>
            {{#each this}}
                <a {{#if this.url}} href="{{this.url}}"{{/if}}
                                    title="{{this.name}}"
                                    target="_blank" class="event {{this.location.slug}}">
                    {{this.name_html}}
                    {{#if this.image}}
                        {{#if this.image.height}}
                            <picture class="event-img">
                                <source srcset="{{this.image.public_avif_url}}" type="image/avif">
                                <img src="{{this.image.public_jpg_url}}" alt="{{this.name}}"
                                     width="{{this.image.width}}" height="{{this.image.height}}"
                                     {{#if @../index }}loading="lazy"{{/if}} />
                            </picture>
                        {{/if}}
                    {{/if}}
                </a>
            {{/each}}
        </div>
    {{/each}}
</main>