<main>
    {{#each event_group}}
        <div class="events">
            <a class="date" href="#{{lookup ../date_slugs @key}}"
               id="{{lookup ../date_slugs @key}}">{{lookup ../dates @key}}</a>
            {{#each this}}
                <a {{#if this.url}} href="{{this.url}}"{{/if}}
                                    aria-label="{{this.name}}"
                                    target="_blank" class="event {{this.location.slug}}"
                >
                    {{this.name_html}}
                    {{#if this.image}}
                        {{#if this.image.height}}
                            <img src="{{this.image.public_avif_url}}" alt=""
                                 width="{{this.image.width}}" height="{{this.image.height}}"
                                 {{#if @../index }}loading="lazy"{{/if}} />
                        {{/if}}
                    {{/if}}
                </a>
            {{/each}}
        </div>
    {{/each}}
</main>