<main>
    {{#each event_group}}
        <div class="events">
            <a class="date" href="#{{this.[0].date_slug}}" id="{{this.[0].date_slug}}">{{this.[0].date}}</a>
            {{#each this}}
                <a {{#if this.url}} href="{{this.url}}"{{/if}}
                                    title="{{this.name}}"
                                    target="_blank" class="event {{this.location.slug}}">
                    <object><a class="event-location" href="{{this.location.website}}" target="_blank"
                               title="{{this.location.name}}"></a></object>
                    {{this.name_html}}
                    {{#if this.image}}
                        <picture class="event-img">
                            <source srcset="{{this.image.public_avif_url}}" type="image/avif">
                            <img src="{{this.image.public_jpg_url}}" width="{{this.image.width}}"
                                 height="{{this.image.height}}" {{#if @../index }}loading="lazy" decoding="async"{{/if}} alt=""/>
                        </picture>
                    {{/if}}
                </a>
            {{/each}}
        </div>
    {{/each}}
</main>